<p-card styleClass="shadow-1">
    <p-table [value]="assets" [scrollable]="true" class="z-5" responsiveLayout="scroll" scrollHeight="100%">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Total funds</th>
          <th>Funds available</th>
          <th>Used in any outstanding orders</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-asset let-rowIndex="rowIndex">
        <tr>
          <td>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
              <a href="#" class="flex align-items-center justify-content-center">
                <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{1831}}.png" class="mr-2" loading="lazy"
                     alt="BTC logo">
                <span class="font-bold mr-2">{{asset.fullName}}</span>
                <span class="font-light">{{asset.name}}</span>
              </a>
            </div>
          </td>
          <td>
            {{asset.totalFunds.toFixed(8)}}
          </td>
          <td>
            {{asset.fundsAvailable.toFixed(8)}}
          </td>
          <td>
            {{asset.usedInAnyOutstandingOrders.toFixed(8)}}
          </td>
        </tr>
      </ng-template>
    </p-table>
</p-card>
