<p-divider align="left" type="dashed">
  <div class="inline-flex align-items-center">
    <b>ASSETS</b>
  </div>
</p-divider>
<span class="p-fluid">
  <p-autoComplete [(ngModel)]="selectedChips" [suggestions]="filteredChips" (completeMethod)="filterChips($event)"
                  field="name" [multiple]="true">
  </p-autoComplete>
</span>
<div class="card">
  <p-table [value]="assets" selectionMode="single" [(selection)]="selectedAsset" dataKey="code"
           responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Price change</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <!-- [pSelectableRow]="asset" -->
      <tr>
        <td>{{asset.fullName}} ({{asset.name}})</td>
        <td>{{asset.priceChange}}%</td>
        <td>
          <ng-template [ngIf]="asset.frozen > 0" [ngIfElse]="free">
            {{asset.free.toFixed(8)}}/{{asset.frozen.toFixed(8)}}
          </ng-template>
          <ng-template #free>
            {{asset.free.toFixed(8)}}
          </ng-template>
        </td>
        <td>{{asset.price}}</td>
        <td>
          <b>
            <!--          [ngStyle]="{color: asset.quotation?.toString() === 'RISE' ? 'seagreen' : 'red'}">-->
            ${{asset.balance}}
          </b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
