<div fxLayout="column" style="background: white; padding: 16px">
  <div fxLayout="row">
    <table mat-table [dataSource]="assetBalances" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} ({{element.asset}})</td>
      </ng-container>

      <ng-container matColumnDef="priceChange">
        <th mat-header-cell *matHeaderCellDef>Change %</th>
        <td mat-cell *matCellDef="let element"> {{element.priceChange}}%</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          <ng-template [ngIf]="element.frozen > 0" [ngIfElse]="free">
            ${{element.free.toFixed(8)}}/${{element.frozen.toFixed(8)}}
          </ng-template>
          <ng-template #free>
            ${{element.free.toFixed(8)}}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          <b
            [ngStyle]="{color: element.quotation?.toString() === 'EQUAL' ? 'black' : element.quotation?.toString() === 'RISE' ? 'seagreen' : 'red'}">
            ${{element.balance}}
          </b>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row">
            <div fxLayoutAlign="center center" style="margin-right: 8px;">
              <mat-slide-toggle
                (change)="toggleSubscription(element)"
                color="primary"
                checked="{{element.toggled}}"
                [ngStyle]="{'visibility':element.asset === 'USDT' ? 'hidden' : 'visible'}">
              </mat-slide-toggle>
            </div>
            <div fxLayoutAlign="center center">
              <button [routerLink]="['/orders/open']" [queryParams]="{assetName: element.asset}" mat-icon-button>
                <mat-icon
                  matBadge="{{element.openOrders}}"
                  style="width: 36px; height: 36px;"
                  svgIcon="open-orders">
                </mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
