table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

#chart {
  width: 100%;
  margin: 35px auto;
}

.mat-row:hover .mat-cell {
  background-color: #f3f2ef;
}

//.demo-row-is-clicked {
//  background-color: darkgrey;
//}
