<div [ng2-loading]="loading" style="height: 100%">
  <mat-toolbar class="mat-elevation-z2" style="margin-bottom: 8px; background-color: white;">
    <a [routerLink]="['/']">
      <button mat-flat-button aria-label="Home">
        <mat-icon style="width: 48px; height: 48px;" svgIcon="icons8-bitcoin"></mat-icon>
        <span style="position: relative; top: 0.1rem"> TRADER</span>
      </button>
    </a>
    <span style="flex: 1 1 auto"></span>
    <ng-template [ngIf]="!isLoggedIn()" [ngIfElse]="loggedOut">
      <div style="margin-left: 8px">
        <button class="example-icon favorite-icon"
                aria-label="Log in"
                mat-button
                [routerLink]="['/login']">
          LOG IN
        </button>
      </div>
      <div style="margin-left: 8px">
        <button color="primary"
                class="example-icon"
                aria-label="Create an account"
                [routerLink]="['/signup']"
                mat-raised-button>
          SIGN UP
        </button>
      </div>
    </ng-template>
    <ng-template #loggedOut>
      <div>
        <button aria-label="Log Out"
                [routerLink]="['/logout']"
                mat-button class="example-icon favorite-icon">
          LOG OUT
        </button>
      </div>
    </ng-template>
  </mat-toolbar>
  <router-outlet>
  </router-outlet>
</div>
