<div fxLayout="column" *ngFor="let asset of assets" style="background: white; padding: 16px">
  <div fxLayout="row">
    <div fxLayoutAlign="center center">
      <button
        (click)="addSubscription(asset)"
        [ngStyle]="{'visibility':asset.coin === 'USDT' ? 'hidden' : 'visible'}"
        mat-icon-button aria-label="Subscriptions">
        <mat-icon
          style="width: 24px; height: 24px;"
          svgIcon="{{asset.flagged ? 'star' : 'star_outline'}}">
        </mat-icon>
      </button>
    </div>
    <div fxLayout="row">
      <div fxLayoutAlign="center center" style="margin: 8px">
        <img
          alt="Coin icon"
          src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{asset.icon}}.png"
          class="icon24 unselectable">
      </div>
      <div fxLayoutAlign="center center" style="margin: 8px; margin-top: 10px!important;">
        {{asset.name}}
      </div>
      <div fxLayoutAlign="center center" style="margin: 8px; margin-top: 10px!important;">
        <a [routerLink]="['/orders/' + asset.coin]" style="color: darkgrey; text-decoration: none"><b>{{asset.coin}}</b></a>
      </div>
      <div fxLayoutAlign="center center" style="margin: 8px; margin-top: 10px!important;">
        {{asset.balance}}
        <ng-template [ngIf]="asset.flagged && asset.usdtValue > 0"> (<b>{{asset.usdtValue}}$</b>)</ng-template>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
