<div fxLayout="column" style="background: white; padding: 16px">
  <div fxLayout="row">
    <mat-form-field class="chip-list" appearance="fill" style="width: 100%">
      <mat-label>SEARCH...</mat-label>
      <mat-chip-list #chipList aria-label="Search">
        <mat-chip
          *ngFor="let chip of chips"
          (removed)="removeChip(chip)">
          {{chip}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Enter asset name"
          #chipInput
          [formControl]="chipsControl"
          [matAutocomplete]="matAutocomplete"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addChip($event)">
      </mat-chip-list>
      <mat-autocomplete #matAutocomplete="matAutocomplete" (optionSelected)="selectChip($event)">
        <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
          {{chip}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <table mat-table [dataSource]="orderElements" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol</th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order ID</th>
        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
      </ng-container>

      <ng-container matColumnDef="orderListId">
        <th mat-header-cell *matHeaderCellDef> Order list ID</th>
        <td mat-cell *matCellDef="let element"> {{element.orderListId}} </td>
      </ng-container>

      <ng-container matColumnDef="clientOrderId">
        <th mat-header-cell *matHeaderCellDef> Client order ID</th>
        <td mat-cell *matCellDef="let element"> {{element.clientOrderId}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="origQty">
        <th mat-header-cell *matHeaderCellDef> Orig QTY</th>
        <td mat-cell *matCellDef="let element"> {{element.origQty}} </td>
      </ng-container>

      <ng-container matColumnDef="executedQty">
        <th mat-header-cell *matHeaderCellDef> Executed QTY</th>
        <td mat-cell *matCellDef="let element"> {{element.executedQty}} </td>
      </ng-container>

      <ng-container matColumnDef="cummulativeQuoteQty">
        <th mat-header-cell *matHeaderCellDef> Cummulative quote QTY</th>
        <td mat-cell *matCellDef="let element"> {{element.cummulativeQuoteQty}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="timeInForce">
        <th mat-header-cell *matHeaderCellDef> Time in force</th>
        <td mat-cell *matCellDef="let element"> {{element.timeInForce}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Order type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="side">
        <th mat-header-cell *matHeaderCellDef> Order side</th>
        <td mat-cell *matCellDef="let element"> {{element.side}} </td>
      </ng-container>

      <ng-container matColumnDef="stopPrice">
        <th mat-header-cell *matHeaderCellDef> Stop price</th>
        <td mat-cell *matCellDef="let element"> {{element.stopPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="icebergQty">
        <th mat-header-cell *matHeaderCellDef> Iceberg QTY</th>
        <td mat-cell *matCellDef="let element"> {{element.icebergQty}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time</th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <ng-container matColumnDef="updateTime">
        <th mat-header-cell *matHeaderCellDef> Update time</th>
        <td mat-cell *matCellDef="let element"> {{element.updateTime}} </td>
      </ng-container>

      <ng-container matColumnDef="isWorking">
        <th mat-header-cell *matHeaderCellDef> Is working</th>
        <td mat-cell *matCellDef="let element"> {{element.isWorking}} </td>
      </ng-container>

      <ng-container matColumnDef="origQuoteOrderQty">
        <th mat-header-cell *matHeaderCellDef> Orig quote order QTY</th>
        <td mat-cell *matCellDef="let element"> {{element.origQuoteOrderQty}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
