table {
  width: 100%;
}

.my-card {
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

.icon24 {
  width: 24px;
  height: 24px;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
