/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100% !important;
  font-size: large;
}

a {
  color: var(--text-color) !important;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}
