/* You can add global styles to this file, and also import other style files */

//html, body {
//  height: 100% !important;
//}
//

body {
  background-color: var(--surface-ground) !important;
}

.ml-2 {
  margin-left: 2px;
}

.font-bold {
  font-weight: bold;
}

a {
  color: var(--text-color) !important;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}
